.desktop{
    width: 1440px;
    height: 1721px;
    background-color: #FFFFFF00;
    margin: 0 auto;
}
.header{
    width: 1336px;
    height: 178px;
    margin: 0 auto;
}
.desktop-text{
   width: 1336px;
   margin: 0 auto;
   text-align: center;
}
.small-title{
    font-size: 16px;
    color: #282828;
    font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.title{
    font-size: 54px;
    color: #282828;
    font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.paragraf1{
    font-size: 20px;
    color: #5F6980;
    font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.box-perent{
    width: 310px;
    height: 430px;
    background-color: #EAECF0;
}
.name{
    font-size: 18px;
    color: #282828;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.position{
  font-size: 14px;
  color: #3E3E59;
  font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.description{
    font-size: 14px;
    color: #5F6980;
    font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.icon{
   width: 36px;
   height: 36px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.box-child{
    display: flex;
    flex-direction: column;
}
.coards{
    width: 1336px;
    height: 908px;
    

}
.cards{
    display: flex;
    justify-content: center;
    width: 1336px;
    height: 908px;
    
}
.div-main{
    display: flex;
    
}
.footer-main{
    width: 1306px;
    height: 223px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}
.footer-div{
    height: 512px;
    background-color: #53535354 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-block1{
    width: 318px;
    height: 221px;
}

.footer-p{
    font-size: 14px;
    color: #535353;
    font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.footer-block2{
   width: 136px;
   height: 223px; 
}
.web-link{
   font-size: 20px;
   color: #1E1E1E ; 
   font-family: 'Inter', sans-serif;
   font-family: 'Open Sans', sans-serif;
}
.li-2{
   font-size: 14px;
   color:#535353 ; 
   font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.footer-li2{
    width: 199px;
    height: 48px;
}
.footer-block3{
    width: 199px;
    height: 223px;
}
.block3-h3{
   width: 85px;
   height: 24px; 
}
.footer-li3{
    width: 199px;
    height: 48px;
}
.footer-block4{
    width: 107px;
    height: 127px;
}